<app-navbar></app-navbar>
<button id="back-button" [class.hide]="currentlyShow === 0" (click)="onBack()">Back</button>
<div id="main-content" *ngIf="currentlyShow === 0">
    <h1>Welcome to Rythym & Taal</h1>
    <div id="button-container">
        <button class="primary-button" (click)="onClickLearn()">Learn different Taals</button>
        <button class="primary-button" (click)="onClickTest()">Test yourself</button>
    </div>
</div>
<app-quiz *ngIf="currentlyShow === 2"></app-quiz>
<app-theka-page *ngIf="currentlyShow === 1"></app-theka-page>