<div class="container">
    <ol type="1" start="1">
        <li>Listen to the song and allow yourself to tap your feet or bob your head along the sound. What you’re doing here is that you’re finding the “pulse” of the song. Once you’re certain that you’ve successfully found the pulse, move on to the next step.</li>
        <li>Now that you know the pulse, try counting the beats on your fingers. What you’re looking for now is where does the samm lie? The samm should be marked by the start of a repeating cycle of accent and enunciation on the lyrics. In simpler words, look for a syllable that is emphasized, not just by the singer, but also by the tabla player in the song. That is your samm and that is where the beat cycle is starting.</li>
        <li>With the knowledge of the pulse and the samm in hand, you can simply count the beats between two samms to determine the taal.</li>
        <li>Finally, now that you have a good guess of what the taal is, try reciting the bols of that taal as you count the beats on your fingers. Refer to the taal reference page for help.</li>
    </ol>
</div>